# Build
/local.properties
/.kotlin/
/.gradle/
**/build/
**/.cxx/
**/.externalNativeBuild/

# Protobuf definitions (ChannelBrowser plugin)
plugins/ChannelBrowser/src/main/proto/
plugins/Themer/
plugins/NewProfiles/
# Editor
/.vscode/
/.idea/
/*.iml

# System
.DS_Store
Thumbs.db

# Aliucord Discord internals and plugin sources
external/
